<html>
	<head>
		<title>
			Weather App
		</title>
		<style>
			
			
		</style>
		
		<script src="angularLib.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		
		
		<h2 class="heading">Current Weather</h2>
		<div class="col-md-4">
			<input class="form-control input" type="text" ng-model="city" placeholder="Please enter City Name"/>
		</div>
		<div class="col-md-2">
			<button type="Submit" class="btn" ng-click="disp()">Get Weather</button>
		</div>
		
		<div class="col-md-4">
			<table class="table stripped">
				<tr><td>Name:</td><td>{{weatherData.data.name}}</td></tr>
				<tr><td>Description:</td><td>{{weatherData.data.weather[0].description}}</td></tr>
				<tr><td>Temparature:</td><td>{{weatherData.data.main.temp}}</td></tr>
				<tr><td>Pressure:</td><td>{{weatherData.data.main.pressure}}</td></tr>
				<tr><td>Humidity:</td><td>{{weatherData.data.main.humidity}}</td></tr>
				<tr><td>Minimum:</td><td>{{weatherData.data.main.temp_min}}</td></tr>
				<tr><td>Maximum:</td><td>{{weatherData.data.main.temp_max}}</td></tr>
				<tr><td>Sunrise:</td><td>{{weatherData.data.sys.sunrise}}</td></tr>
				<tr><td>Sunset:</td><td>{{weatherData.data.sys.sunset}}</td></tr>	
				
			</table>
		</div>
		<script>
				var ang=angular.module('myApp',[]);
				ang.controller('myCtrl',function($scope,$http){
				$scope.disp=function(){
						$http.get('http://api.openweathermap.org/data/2.5/weather?q='+$scope.city+'&appid=2b69b16eb32041265c37e9ea6eda444a').then(function(response){
								$scope.weatherData = response;
								
							})
							}
				});
				
		</script>	
	</body>
</html>